/***** Custom CSS *****/

/*body:before {background: none !important;}*/

#socialbar {
    height: 60px;
}
ul.social {
    float: right;
    list-style: none outside none;
    margin: 5px 10px 0;
}
ul.social li {
    float: left;
    margin-left: 10px;
}


/***************** Header ****************/
#edit-search-block-form--2.form-text{
    border:1px solid #848484;
    width:140px;
}
h1,h2{
    margin:0px;
}
body{
    background-color:#000000 !important;
}
#page{
    background-color:#FFFFFF;
    /*padding-left:34px;*/
    padding-right:20px;
    padding-left:20px;
}
#secondary{
    display:none;
}
#navigation{
    background-image:url('../images/menubg.png');
    border-radius: 10px 10px 10px 10px;
    height: 64px;
    margin-bottom:25px;
    margin-top:22px;
}
#navigation li a{
    color: #FFFFFF;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
   padding:13px;
   text-decoration:none;

}
#primary li{
       background: url("../images/seperator.jpg") no-repeat scroll right top transparent;
       padding: 11px;

}
#navigation .last{
    background:none;
}
#name-and-slogan{
    float:left;
}
#header img,site-name{
    float:left;
    margin-top:12px;
}
#header{
    background-color:#FFFFFF;
    padding-bottom:32px;
}
#site-name, #site-name a{
    margin-left: 10px;
    padding-top: 35px;
    color:#65778D;
    text-decoration:none;
    width:282px;
}
#block-search-form{
   float:right;
}
#first-time p{
    display:none;
}
#site-name
{
    background-image: url("/Trupti/pro/docs/images/compname.png");
    background-repeat:no-repeat;
    margin-top:57px;
}
#site-name a
{
    display:none;
}
#first-time
{
    display:none;
}
/**************** main content************/

#block-system-main{
    border-bottom:1px solid #DFDFDF;
    margin-bottom:35px;
}
#block-system-main img{
    float:left;
    padding-right:7px;
}
#block-system-main span{
    color:green;
    font-size:12px;
}
#content .content
{
    margin-top:10px;
}
button{
   background-image: url("/Trupti/pro/docs/images/btn-bg.png");
    color: #FFFFFF;
    float: right;
    font-size: 11px !important;
    margin: 18px;
    padding: 6px;
}
.block-inner img{
    float:left;
    padding-right:10px;
}
.block-inner span{
    color:#5E8099;
    font-size:12px;
    font-family:arial;
}
h1, h2{
    color:#87888C !important;
    font-size:23px;
}
#content{
    color:#ABA9AA;
}
.one-sidebar.sidebar-first #content{
  /*margin-left: 26.021%;
   width: 73.979%;*/
}
#banner_img{
    height:267px;
    background-repeat:no-repeat !important;
    margin-bottom:5px;
    width:100%;
}
#main{
    border-bottom:1px solid #DFDFDF;
   padding-bottom:10px;
}

/*.region-highlighted .block{
    background-image:url('/Trupti/pro/docs/images/front-bg.png');
}*/
/***************** sidebars**********************/

.region-sidebar-first .block{
    background-color:#F7EBC5;
    border-radius: 10px 10px 10px 10px;
    margin-top:10px;
}
.region-sidebar-first .block.last ul{
    padding:10px;
}
.region-sidebar-first .block.last a{
    color:#5F5941;
    margin-right:15px;
    font-size:12px;
    text-decoration:none;
}
.region-sidebar-first .block p a{
color:#D09050 !important;
font-weight:bold;
float:right;
margin-bottom:10px;
}
.region-sidebar-first .block-inner .block-title{
   border-bottom: 1px dotted #333333;
    color: #333333 !important;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 11px;
    padding-left: 47px !important;
    padding-top: 10px;
    background: url("../images/bullet.png") no-repeat scroll left top transparent;
    background-position:23px;
    padding-right:5px;
}
.form-submit{
    background-image: url("/Trupti/pro/docs/images/btn-bg.png");
    color: white;
    font-size: 12px;
    padding: 4px 18px;
    }
#sidebar-first{
  /*  width: 22.894%;*/
}
.region-sidebar-first .block-inner  li{
    margin-left:15px;
    list-style-image:url('../images/gray-bullet.png');
    padding-bottom:5px;
}
.sidebar-first #sidebar-first {
   
    background-color:#FFFFFF !important;
}


#block-system-navigation{
    background-color:#4B6586;
    border-radius: 10px 10px 10px 10px;
}
#block-system-navigation li.add-content{
    display:none;
 }
 #block-system-navigation li{
        list-style-image:url('/Trupti/pro/docs/images/white-bullet.png');
 }
 #block-system-navigation li a, #block-system-navigation li{
    color:#FFFFFF;
    font-size:11px;
    text-decoration:none;
}
  #block-system-navigation .block-title{
    background-image: url("/Trupti/pro/docs/images/bullet-blue.png");
    border-radius: 10px 6px 1px 0;
    color: #FFFFFF !important;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 53px !important;
    background-color:#39506F;
    background-repeat:no-repeat;
    background-position:27px;

  }
#block-system-navigation .content{
   padding-left: 23px;
    padding-top: 11px;
}
#block-user-login{
    background-color: #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    color: #333333;
    font-size: 11px;
    font-weight: normal !important;
    margin-top: 10px;
}
#block-user-login .content{
    padding-left:20px;
}
#block-user-login .block-title{
    background: url("/Trupti/pro/docs/images/bullet-blue.png") no-repeat scroll left top transparent;
    background-position:23px;

}
#block-user-login a,#block-user-login li{
    color:#6D8893;
    font-size:11px;
    list-style-type:none;
    text-decoration:underline;
    margin-left:0px;
}
/************Footer************/
.region-footer ul{
    display:inline;
}
.region-footer{
    background-color:#FFFFFF !important;
    float:left;
}
.region-footer .content{
    padding-left: 239px;
    text-align: center;
    font-size:11px;
    color:#333333;
}
.region-footer li{
    float:left;
    list-style-type:none;
   
    padding-left:10px;
    padding-right:10px;
}
.region-footer li a{
    color:#333333 !important;
    font-size:11px;
    border-right:1px solid #333333;
    padding-right:16px;
    text-decoration:none;
}
.region-footer a.last{
    border:none;
}